@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1db954;
  --secondary-color: #191414;
  --accent-color: #00d760;
  --text-color: #ffffff;
  --background-color: #121212;
  --error-color: #bd4b4b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1db954;
    --secondary-color: #191414;
    --accent-color: #00d760;
    --text-color: #ffffff;
    --background-color: #121212;
    --error-color: #bd4b4b;
  }
}

html,
body,
:root {
  height: 100%;
  color-scheme: dark;
}

* {
  @apply transition-all;
}
